In [1]:
val x = 2
val y = 3
x+y

Intitializing Scala interpreter ...

Spark Web UI available at http://10.0.0.160:4040
SparkContext available as 'sc' (version = 2.2.1, master = local[*], app id = local-1584283617203)
SparkSession available as 'spark'

x: Int = 2
y: Int = 3
res0: Int = 5

In [2]:
val data = Seq((1,2,3), (6,7,8), (9,19,10))
val ds = spark.createDataset(data)
ds.show()

+---+---+---+
| _1| _2| _3|
+---+---+---+
|  1|  2|  3|
|  6|  7|  8|
|  9| 19| 10|
+---+---+---+

data: Seq[(Int, Int, Int)] = List((1,2,3), (6,7,8), (9,19,10))
ds: org.apache.spark.sql.Dataset[(Int, Int, Int)] = [_1: int, _2: int ... 1 more field]

In [35]:
val numbers = spark.read.json("mega_millions_numbers.dat")
numbers.count()

numbers: org.apache.spark.sql.DataFrame = [IgnoreServiceUntil: string, MBall: bigint ... 10 more fields]
res34: Long = 5

In [36]:
numbers.groupBy("IgnoreServiceUntil").agg(sum("N1"), avg("N1"), max("N1"), min("N1")).show()

+-------------------+-------+-------+-------+-------+
| IgnoreServiceUntil|sum(N1)|avg(N1)|max(N1)|min(N1)|
+-------------------+-------+-------+-------+-------+
|2018-12-31T14:02:03|     26|    5.2|     10|      2|
+-------------------+-------+-------+-------+-------+

In [45]:
numbers.groupBy("IgnoreServiceUntil")
.min("N1", "N2", "N3", "N4", "N5", "MBall")
.show()

+-------------------+-------+-------+-------+-------+-------+----------+
| IgnoreServiceUntil|min(N1)|min(N2)|min(N3)|min(N4)|min(N5)|min(MBall)|
+-------------------+-------+-------+-------+-------+-------+----------+
|2018-12-31T14:02:03|      2|      6|     13|     16|     55|         4|
+-------------------+-------+-------+-------+-------+-------+----------+

In [46]:
numbers.groupBy("IgnoreServiceUntil")
.max("N1", "N2", "N3", "N4", "N5", "MBall")
.show()

+-------------------+-------+-------+-------+-------+-------+----------+
| IgnoreServiceUntil|max(N1)|max(N2)|max(N3)|max(N4)|max(N5)|max(MBall)|
+-------------------+-------+-------+-------+-------+-------+----------+
|2018-12-31T14:02:03|     10|     32|     48|     61|     70|        18|
+-------------------+-------+-------+-------+-------+-------+----------+

In [48]:
numbers.groupBy("IgnoreServiceUntil")
.mean("N1", "N2", "N3", "N4", "N5", "MBall")
.show()

+-------------------+-------+-------+-------+-------+-------+----------+
| IgnoreServiceUntil|avg(N1)|avg(N2)|avg(N3)|avg(N4)|avg(N5)|avg(MBall)|
+-------------------+-------+-------+-------+-------+-------+----------+
|2018-12-31T14:02:03|    5.2|   13.2|   35.0|   46.4|   62.4|       9.8|
+-------------------+-------+-------+-------+-------+-------+----------+